#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.etusivu {
  text-align: center;
}

.slogo {
  height: 2em;
  padding: 0em 3em;
  will-change: filter;
  transition: filter 300ms;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form {
  display: inline;
}

/* hakutulokset */

body {
  font-family: "Roboto", Helvetica Neue, sans-serif;
}

h2,
p,
div {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: bold;
}

div.more {
  display: none;
  margin: 10px 0 0 0;
  padding: 10px;
  background-color: #eee;
  position: relative;

  &.visible {
    display: block;
  }

  li {
    list-style: none;
    line-height: 1.4em;
    font-size: 90%;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: rgb(192, 199, 212);
    cursor: pointer;
  }
}

.search-result {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 0px;
  display: flex;
  position: relative;

  &.new-job {
    .badge {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 5px 10px;
      border-radius: 15px;
      border: 2px solid rgb(253, 137, 37);
      background-color: rgba(253, 137, 37, 0.2);
      color: rgb(253, 137, 37);
    }
  }

  h2 {
    color: rgb(40, 140, 252);
  }

  a {
    text-decoration: none;
    color: rgb(36, 138, 250);
  }

  .icon {
    margin: 0 15px 0 0;
  }

  .reviews {
    color: rgb(253, 137, 37);
  }

  .actions {
    color: rgb(192, 199, 212);
    margin-top: 10px;
    font-size: 90%;
  }

  span {
    margin-right: 10px;
  }

  div > div p {
    color: rgb(192, 199, 212);
    margin-top: 10px;
  }
}
