images/*
!images/69.*png
cache/*
__pycache__/*
kaios-app/node_modules
kirja.json
kaios-app/src/data/*
kaios-app/build/*
webapp/src/data/*
webapp/photos/*
webapp-backend/node_modules
webapp-backend/data/*