.todos {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
} /*

.todos span {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
  border-radius: 6px;
  padding: 0 10px;
  margin-bottom: 9px;
  background-color: #F5F5F6;
}
*/
.todos span[nav-selected="true"] {
  background-image: linear-gradient(255deg, #9b27af, #9b27af);
  color: #fff;
  overflow: visible;
}

.todos span[nav-hidden="true"] {
  display: none;
}

.todos .completed {
  text-decoration: line-through;
}

.nimi {
  margin-top: 0;
  margin-bottom: 0;
}

.asukkaat {
  font-weight: bold;
}

.isokuva {
  max-width: 100%;
  max-width: 100%;
  object-fit: cover;
}

/* https://stackoverflow.com/questions/51813326/css-grid-two-column-keyvalue-layout*/

.tooltip {
  position: absolute;
  width: 300px;
  height: auto;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  pointer-events: none;
  /* update to go down a level */
}

.tooltipp {
  display: grid; /* direct children will be displayed into the grid set */
  grid-template-columns: 20fr 40fr;
  grid-gap: 10px;
  grid-template-areas: "attributeName attributeValue";
}
/* end update */
.attributeName {
  font-size: 0.8em;
  grid-area: attributeName;
}

.attributeValue {
  font-size: 1.2em;
  grid-area: attributeValue;
}
